<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Api</title>
    <style>
        .header-bar{
            background-color: black;
            color: white;
            height: 80px;
            text-align:center;
            padding-top: 10px;
        }
        a, h4{
            text-decoration: none;
        }
    </style>
</head>

<header>
    <header class="header-bar">
    <h1>  REST FRAMEWORK  SIMPLE API</a> </h1>
</header>
</header>
<body>
<br/>
<h2>Basic Simple API</h2><hr/>
<a href="customers"><h4>Simple JSON Costumer List</h4></a>
<a href="{%url 'all_data' %}">check all json data</a>
<div class="json">
    <h2>{{j_data}}</h2>
</div>
</body>
</html>