<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Record search form for delete</title>
    <style>
        .row{
            width: 50%;
            height: auto;
            text-align: center;
            margin-left: 500px;
        }
        input{
            height: 25px;
            width: 30%;
        }
        #submit{
            width: 10%;
            height: 30px;
        }
    </style>
</head>
<body>
<div class="row">
    <h3>SEARCH FORM FOR DELETE</h3>
    <hr/>
    <form method="get" action="display_delete_form">
    <p>ID: <input type="text" name="txt_id"></p>
            <input type="submit" id="submit" value="search">
    </form>
    <br/><br/>
    <a href="/" ><h4>Back Home</h4></a>
</div>

</body>
</html>