<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Form</title>
    <style>
        .row{
            width: 50%;
            height: auto;
            margin-left: 400px;
            text-align: center;
        }
        form{
             width: 50%;
            height: auto;
            margin-left: 400px;

        }
        input{
            width: 40%;
            height: 30px;
        }
        #submit{
            width: 10%;
        }
    </style>
</head>
<body>
<div class="row">
  <h2>SEARCH FORM FOR UPDATE</h2>
    <hr/><br/><br/>
</div>
<form method="get" action="display_update_form">
    <p>ID: <input type="text" name="txt_id" placeholder="Enter Id For Search"></p>
<!--    <p>Name</p><input type="text" name="txt_name">-->
<!--    <p>Address</p><input type="text" name="txt_address">-->
    <input type="submit" id="submit" value="search">
</form>
<br/><br/><hr/>
<a href="/" ><h2>BACK TO HOME</h2></a>
</body>
</html>